**/.nextflow/
**.pdf
**/.ipynb_checkpoints/
experiment/plots/overleaf/
**/work
**/flowchart*
**/report*
outputdata/*
inputdata/wvdb/*
inputdata/download/data/180036/*
inputdata/download/data/181035/*
inputdata/download/data/181036/*
inputdata/download/data/182035/*
inputdata/download/data/182036/*
inputdata/download/data/183035/*
