.nextflow*
**/.nextflow
**/work
**/flowchart*
**/report*
outputdata/*
inputdata/wvdb/*
inputdata/download/180036/*
inputdata/download/181035/*
inputdata/download/181036/*
inputdata/download/182035/*
inputdata/download/182036/*
inputdata/download/183035/*
