/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rangeland -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    tar_source     = 'https://github.com/Felix-Kummer/test-datasets/raw/rangeland/landsat_dem_wvp.tar.gz'

    input = 'Landsat_collection2'
    dem   = 'dem'
    wvdb  = 'wvp'

    data_cube = https://github.com/Felix-Kummer/test-datasets/raw/rangeland/datacube/datacube-definition.prj
    aoi       = https://github.com/Felix-Kummer/test-datasets/raw/rangeland/vector/aoi.gpkg
    endmember = https://github.com/Felix-Kummer/test-datasets/raw/rangeland/endmember/hostert-2003.txt

    // Remote sensing imagery parameters
    start_date = "1987-01-01"
    end_date   = "1989-12-31"

    sensors_level1 = "LT04,LT05"
    sensors_level2 = "LND04 LND05"

    // Reference data
    woody_change_ref = https://github.com/Felix-Kummer/test-datasets/raw/rangeland/reference/woody_cover_chg_ref.tif
    woody_yoc_ref    = https://github.com/Felix-Kummer/test-datasets/raw/rangeland/reference/woody_cover_yoc_ref.tif

    herbaceous_change_ref = https://github.com/Felix-Kummer/test-datasets/raw/rangeland/reference/herbaceous_cover_chg_ref.tif
    herbaceous_yoc_ref    = https://github.com/Felix-Kummer/test-datasets/raw/rangeland/reference/herbaceous_cover_yoc_ref.tif

    peak_change_ref = https://github.com/Felix-Kummer/test-datasets/raw/rangeland/reference/peak_chg_ref.tif
    peak_yoc_ref    = https://github.com/Felix-Kummer/test-datasets/raw/rangeland/reference/peak_yoc_ref.tif

    // Other parameters
    group_size = 10

}
process {
    withName: UNTAR {
        ext.prefix = 'test_data'
    }
}
