/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path:   { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode:   params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path:   { "${params.outdir}/pipeline_info" },
            mode:   params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path:    { "${params.outdir}/pipeline_info" },
            mode:    params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: "FORCE_GENERATE_ANALYSIS_MASK" {
        memory = { 500.MB * task.attempt }
        time   = { 20.minute * task.attempt }
    }

    withName: "FORCE_GENERATE_TILE_ALLOW_LIST" {
        memory = { 500.MB * task.attempt }
        time   = { 20.minute * task.attempt }
    }

    withName: "FORCE_PREPROCESS" {
        cpus          = 4
        memory        = { 4500.MB * task.attempt }
        time          = { 2.h * task.attempt }
        errorStrategy = 'retry'
        maxRetries    = 5
        publishDir    = [
            path:    "${params.outdir}/preprocess_logs",
            mode:    'copy',
            pattern: '*.log',
            enabled: params.publish
        ]
    }

    withName: "MERGE_BOA" {
        memory = { 2000.MB * task.attempt }
        time   = { 2.h * task.attempt }
    }

    withName: "MERGE_QAI" {
        memory = { 2000.MB * task.attempt }
        time   = { 2.h * task.attempt }
    }

    withName: "FORCE_HIGHER_LEVEL" {
        cpus   = 6
        memory = { (params.only_tile ? 12000.MB : 3300.MB ) * task.attempt }
        time   = { 2.h * task.attempt }
    }

    withName: "FORCE_PYRAMID" {
        memory      = { 1500.MB * task.attempt }
        time        = { 20.minute * task.attempt }
        stageInMode = 'copy'
        publishDir  = [
            path:    "${params.outdir}/trend/pyramid/",
            saveAs:  {"${it.substring(12,it.indexOf("."))}/trend/${it.substring(0,11)}/$it"},
            mode:    'copy',
            enabled: params.publish
        ]
    }

    withName: "FORCE_MOSAIC" {
        memory     = { 1500.MB * task.attempt }
        time       = { 20.minute * task.attempt }
        publishDir = [
            path:    "${params.outdir}/trend/mosaic/$product",
            mode:    'copy',
            enabled: params.publish
        ]
    }

    withName: "CHECK_RESULTS" {
        memory = { 12000.MB * task.attempt }
        time   = { 2.h * task.attempt }
    }

    withName: "PREPROCESS_CONFIG" {
        errorStrategy = 'retry'
        maxRetries    = 5
        publishDir    = [
            path:    "${params.outdir}/preprocess_prm",
            mode:    'copy',
            pattern: '*.prm',
            enabled: params.publish
        ]
    }
}
