profiles {
  process.container = 'ubuntu'
  kubernetesConf {
     process.executor = 'k8s'
     process.scratch = true
     k8s {
        debug.yaml = true
        namespace = 'default'
        context = 'flehmann'
        serviceAccount = 'nextflow'
        container = 'ubuntu'
        imagePullPolicy = 'IfNotPresent'
        workDir = '/workdir/work'
        runAsUser = 0
     }
  }
}
