process {
   cpus = 1
   withName: "preprocessing:generateAnalysisMask" {
      memory = { 500.MB * task.attempt }
      time = { 20.minute * task.attempt }
   }
   withName: "preprocessing:generateTileAllowList" {
      memory = { 500.MB * task.attempt }
      time = { 20.minute * task.attempt }
   }
   withName: "preprocessing:preprocess" {
      cpus = 4
      memory = { 4500.MB * task.attempt }
      time = { 2.h * task.attempt }
   }
   withName: "preprocessing:mergeQAI" {
      memory = { 2000.MB * task.attempt }
      time = { 2.h * task.attempt }
   }
   withName: "preprocessing:mergeBOA" {
      memory = { 2000.MB * task.attempt }
      time = { 2.h * task.attempt }
   }
   withName: "higherLevel:processHigherLevel" {
      cpus = 6
      memory = { (params.onlyTile ? 12000.MB : 3300.MB ) * task.attempt }
      time = { 2.h * task.attempt }
   }
   withName: "higherLevel:processPyramid" {
      memory = { 1500.MB * task.attempt }
      time = { 20.minute * task.attempt }
   }
   withName: "higherLevel:processMosaic" {
      memory = { 1500.MB * task.attempt }
      time = { 20.minute * task.attempt }
   }
   withName: "checkResults" {
      memory = { 12000.MB * task.attempt }
      time = { 2.h * task.attempt }
   }
}