params {
    inputdata = '/input/FORCE2NXF-Rangeland/inputdata/'
    outdata = '/data/output/out/'
    groupSize = 100
    forceVer = '3.6.5'
}
process.executor = 'k8s'
process.scratch = true
k8s {
    debug.yaml = true
    namespace = 'default'
    serviceAccount = 'nextflow'
    workDir = '/data/work/'
    projectDir = '/data/project/'
    imagePullPolicy = 'IfNotPresent'
    launchDir = '/data/launch/'
    runAsUser = 0
}
executor {
    queueSize = 150
}
report {
    enabled = true
    file = '/data/output/report.html'
}
trace {
    enabled = true
    sep = ','
    raw = true
    file = '/data/output/locality_trace.csv'
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action'
}